div#imagenprincipal {
	background-image: url('../img/fondo.jpg');
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center top;
}

.margiz {
	margin-left: auto;
}

div.item-div {
	text-align: center;
}

img.muestra {
	height: 170px;
}

a.boton {
	background-color: grey;
	max-width: 100px;
	position: inherit;
}

.jumbotron {
	height: 400px;
}

#tipos-cafe {
	margin: 6%;
}

h3 {
	text-align: center;
}

img.rounded-circle {
	margin-left: 15%;
	margin-top: 15%;
	margin-bottom: 10%;
	height: 140px;
	width: 140px;
}

a[class="btn btn-secondary"] {
	text-align: center;
}

p + p {
	text-align: center;
}
